region_name = "{KR1,KR2,JP1,US1}"
auth_url    = "https://api-identity.infrastructure.cloud.toast.com/v2.0"
tenant_id   = "<tenant_id_of_object_storage_api_endpoint>"
user_name   = "<user_email>"
password    = "<password_of_object_storage_api_endpoint>"
container   = "tfstate.d"
